{% extends "accounts/base.html" %}

{% block content %}
<div class="container">

{% if form.errors %}
  <div class="row span3 offset4">
    <div class="alert">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Password change failed.</strong>
          {% for field in form %}
          <p>
            {{ field.errors }}
          </p>
          {% endfor %}
    </div>
  </div>
{% endif %}

<form action="" method="post">
  <div class="row span4 offset4">
  {% csrf_token %}
  <p>
    <label for="id_old_password"></label>
    <input id="id_old_password" type="password" name="old_password" maxlength="4096" placeholder="Old password">
  </p>
  <p>
    <label for="id_new_password1"></label>
    <input id="id_new_password1" type="password" name="new_password1" maxlength="4096" placeholder="New password">
  </p>
  <p>
    <label for="id_new_password2"></label>
    <input id="id_new_password2" type="password" name="new_password2" maxlength="4096" placeholder="New password confirmation">
  </p>
  <!--{% for field in form %}
  <p>
    {{ field.errors }}
    {{ field.label_tag }} 
    {{ field }}
  </p>
  {% endfor %}-->
  <p><button class="btn btn-large btn-primary" name="submit" type="submit">Change password</button></p>
  <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>

</div>
{% endblock %}
